<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <link rel="stylesheet" type="text/css"
          href="../lib/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css"
          href="../lib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <script src="../App.js"></script>
    <script src="../js/controllers/user_controller.js"></script>
    <script src="../js/services/disk_service.js"></script>
    <script src="../js/controllers/freeDisksCtrl.js"></script>
    <script src="../js/controllers/givenDisksCtrl.js"></script>
    <script src="../js/controllers/takenDisksCtrl.js"></script>
    <script src="../js/controllers/addDiskCtrl.js"></script>
    <script src="../js/controllers/loginCtrl.js"></script>
</head>
<body ng-app="myApp">

<div ng-controller="UserController as vm">


    <div class="form-group" ng-include="'views/loginPage.html'">

    </div>

    <h2 class="text-info">{{vm.greetingMessage}}</h2>

    <div>
        <a href="#freeDisks">Свободные диски</a>
        <a href="#takenDisks">Взятые мной диски</a>
        <a href="#givenDisks">Отданные диски</a>
        <a href="#addDisk">Добавить диск</a>
    </div>

    <div ng-view class="table table-bordered">

    </div>

</div>
</body>
</html>